.root {
  position: relative;
  z-index: 0;
  position: fixed;
  bottom: 1.875rem;
  z-index: 101;
  border-radius: 100vh;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  &:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-radius: inherit;
    background: hsla(0, 0%, 100%, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 0.15s ease-in-out;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: -1;
    animation: Header_replace-bg-after-submenu-close__Ub52C 0.6s ease-in-out;
  }
}

.list {
  grid-area: 1/-1;
  list-style: none;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  padding: 0.4375rem;
  transition: box-shadow 0.15s;
  position: relative;
  border-radius: inherit;
}
.item {
  display: list-item;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--theme-secondary);
  position: relative;
  transition: color 0.3s ease;
  line-height: 1;
  cursor: pointer;
  z-index: 2;
  border-radius: 100vh;

  &:hover {
    background-color: rgba(15, 29, 7, 0.05);
  }
  &--active {
    color: var(--theme-primary);
    background-color: var(--theme-secondary);
    grid-row: 1;
    align-self: stretch;
    justify-self: stretch;
    transition: background-color 0.15s ease, opacity 0.15s ease;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transition-property: background-color, opacity;
    z-index: 1;
    min-width: 3em;
    pointer-events: none;
  }
}
@media (min-width: 768px) {
  .root {
    top: 1.25rem;
    bottom: auto;
  }
}
