.root {
  display: block;
  color: var(--theme-secondary);
  transition: color 0.4s;
  max-height: 100vh;
  max-height: 100svh;
  z-index: 0;
  background-color: #fff;
}
.wrapper {
  width: 100%;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  max-width: 30rem;
  display: grid;
  grid-template-areas:
    "heading"
    "columns"
    "bottom"
    "face";
  grid-gap: 3.75rem;
  gap: 3.75rem;
  padding-top: 3.875rem;
  padding-bottom: 6.25rem;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 37.5rem;
    padding-top: 6.25rem;
    padding-bottom: 3.875rem;
  }
}
@media (min-width: 992px) {
  .wrapper {
    gap: 0;
    max-width: none;
    grid-template-areas:
      "heading face"
      "columns face"
      "bottom bottom";
    padding: 3.875rem clamp(5rem, 5.291005291vw, 6.65rem)
      clamp(3.875rem, 4.1005291005vw, 5.15375rem);
  }
}
@media (min-width: 1200px) {
  .wrapper {
    padding-top: clamp(6rem, 6.3492063492vw, 7.98rem);
    grid-template-columns: auto auto;
  }
}

.sliderWrapper {
  grid-area: heading;
  margin: 0;
  font-size: 2.5rem;
}
@media (min-width: 992px) {
  .sliderWrapper {
    margin-bottom: clamp(6.25rem, 6.6137566138vw, 8.3125rem);
    width: min-content;
    column-gap: clamp(0.3125rem, 0.3306878307vw, 0.415625rem);
    font-size: clamp(4.375rem, 4.6296296296vw, 5.81875rem);
    padding: clamp(2.25rem, 2.380952381vw, 2.9925rem) 0;
  }
}
@media (min-width: 1200px) {
  .sliderWrapper {
    margin-bottom: clamp(7.1875rem, 7.6058201058vw, 9.559375rem);
  }
}
.sliderWrapper {
  font-weight: 500;
  &-link {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-start;
    color: inherit;
    line-height: 1;
    column-gap: 0.3125rem;
    font-size: 2.5rem;
    transition: color 0.15s;
    &:hover {
      color: var(--blue-primary);
    }
  }

  &-arrow {
    width: auto;
    color: var(--blue-primary);
    transition: color 0.4s, transform 0.15s;
    height: 0.65em;
    transform: translateY(10%);
    stroke-width: 1;
  }
  &-words {
    width: 100%;
  }
  &-wordsList {
    display: inline-grid;
    & > * {
      grid-area: 1/-1;
    }
  }
}
.sliderWrapper-link:hover .sliderWrapper-arrow {
  transform: translate(25%, 10%);
}
.slider-item {
  opacity: 0;
  transform: translateY(25%) translateZ(0px);
  transition: opacity 0.3s, transform 0.3s;
}

.slider-item.active {
  opacity: 1;
  transform: translateY(0%) translateZ(0px);
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(25%) translateZ(0px);
  }
  25%,
  50%,
  75%,
  100% {
    opacity: 1;
    transform: translateY(0%) translateZ(0px);
  }
}
